@import 'tailwindcss';

/* Content paths */
@source "./pages/**/*.{js,ts,jsx,tsx,mdx}";
@source "./components/**/*.{js,ts,jsx,tsx,mdx}";
@source "./app/**/*.{js,ts,jsx,tsx,mdx}";
@source "./sanity/**/*.{js,ts,jsx,tsx,mdx}";

@theme {
  /* Screens */
  --breakpoint-xs: 475px;

  /* Colors */
  --color-primary-100: #ffe8f0;
  --color-primary: #ee2b69;
  --color-secondary: #fbe843;

  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;
  --color-black: #000000;

  --color-white-100: #f7f7f7;
  --color-white: #ffffff;

  /* Font families */
  --font-work-sans: var(--font-work-sans);

  /* Border radius */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Box shadows */
  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

.dark {
  color-scheme: dark;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-between;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply text-[30px] font-semibold text-black;
  }

  .text-26-semibold {
    @apply text-[26px] font-semibold text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply text-[20px] font-medium text-black;
  }

  .text-16-medium {
    @apply text-[16px] font-medium text-black;
  }

  .text-14-normal {
    @apply text-white-100/80 text-sm font-normal;
  }

  /* .pink_container {
    @apply bg-primary flex min-h-[530px] w-full flex-col items-center justify-center px-6 py-10;
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(251, 232, 67, 0.2) 49.5%,
      rgba(251, 232, 67, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  } */

  .tag {
    @apply bg-secondary font-work-sans relative rounded-sm px-6 py-3 font-bold uppercase before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-r-[10px] before:border-t-black before:border-r-transparent before:content-[''] after:absolute after:right-2 after:bottom-2 after:border-b-[10px] after:border-l-[10px] after:border-b-black after:border-l-transparent after:content-[''];
  }

  .heading {
    @apply font-work-sans my-5 max-w-5xl bg-black px-6 py-3 text-center text-[36px] leading-[46px] font-extrabold text-white uppercase sm:text-[54px] sm:leading-[64px];
  }

  .sub-heading {
    @apply max-w-2xl text-center text-[20px] font-medium break-words text-white;
  }

  .section_container {
    @apply mx-auto max-w-7xl px-6 py-10;
  }

  .card_grid {
    @apply grid gap-5 sm:grid-cols-2 md:grid-cols-3;
  }

  .card_grid-sm {
    @apply grid gap-5 sm:grid-cols-2;
  }

  .no-result {
    @apply text-black-100 text-sm font-normal;
  }

  /* profile */
  .profile_container {
    @apply mx-auto flex w-full max-w-7xl flex-col gap-10 px-6 pt-20 pb-10 lg:flex-row;
  }

  .profile_card {
    @apply bg-primary shadow-100 relative z-0 flex h-fit w-80 flex-col items-center justify-center rounded-[30px] border-[5px] border-black px-6 pt-20 pb-6 max-lg:w-full;
  }

  .profile_title {
    @apply shadow-100 absolute -top-9 w-11/12 rounded-[20px] border-[5px] border-black bg-white px-5 py-3 before:absolute before:-bottom-1 before:left-0 before:-z-[1] before:h-[60px] before:w-full before:-skew-y-6 before:rounded-[20px] before:bg-black before:content-[''] after:absolute after:-top-1 after:right-0 after:-z-[1] after:h-[60px] after:w-full after:-skew-y-6 after:rounded-[20px] after:bg-black after:content-[''];
  }

  .profile_image {
    @apply rounded-full border-[3px] border-black object-cover;
  }

  /* idea details */
  .divider {
    @apply mx-auto my-10 max-w-4xl border-dotted bg-zinc-400;
  }

  .view_skeleton {
    @apply fixed right-3 bottom-3 h-10 w-24 rounded-lg bg-zinc-400;
  }

  /* navbar */
  .avatar {
    /* @apply rounded-full bg-none p-0 drop-shadow-md focus-visible:ring-0 !important; */
  }

  .dropdown-menu {
    /* @apply w-56 rounded-2xl border-[5px] border-black bg-white p-5 !important; */
  }

  .login {
    /* @apply shadow-100 font-work-sans relative border-[5px] border-black bg-white py-4 font-medium text-black transition-all duration-500 hover:shadow-none !important; */
  }

  /* searchform */
  .search-form {
    @apply mt-8 flex min-h-[80px] w-full max-w-3xl flex-row items-center gap-5 rounded-[80px] border-[5px] border-black bg-white px-5 text-[24px];
  }

  .search-input {
    @apply placeholder:text-black-100 h-auto w-full flex-1 font-bold outline-none placeholder:font-semibold text-black;
  }

  .search-btn {
    @apply flex size-[50px] items-center justify-center rounded-full bg-black;
  }

  /* startupcard */
  .startup-card {
    @apply shadow-200 hover:border-primary hover:shadow-300 hover:bg-primary-100 rounded-[22px] border-[5px] border-black bg-white px-5 py-6 transition-all duration-500;
  }

  .startup-card_date {
    @apply bg-primary-100 group-hover:bg-white-100 rounded-full px-4 py-2 text-[16px] font-medium;
  }

  .startup-card_desc {
    @apply text-black-100 my-3 line-clamp-2 text-[16px] font-normal break-all;
  }

  .startup-card_img {
    @apply h-[164px] w-full rounded-[10px] object-cover;
  }

  .startup-card_btn {
    /* @apply bg-black-200 rounded-full px-5 py-3 text-[16px] font-medium text-white !important; */
  }

  .startup-card_skeleton {
    @apply h-96 w-full rounded-[22px] bg-zinc-400;
  }

  /* startupform */
  .startup-form {
    @apply mx-auto my-10 max-w-2xl space-y-8 bg-white px-6;
  }

  .startup-form_label {
    @apply text-[18px] font-bold text-black uppercase;
  }

  .startup-form_input {
    /* @apply placeholder:text-black-300 mt-3 rounded-full border-[3px] border-black px-5 py-7 text-[18px] font-semibold text-black !important; */
  }

  .startup-form_textarea {
    /* @apply placeholder:text-black-300 mt-3 rounded-[20px] border-[3px] border-black p-5 text-[18px] font-semibold text-black !important; */
  }

  .startup-form_error {
    @apply mt-2 ml-5 text-red-500;
  }

  .startup-form_editor {
    /* @apply placeholder:text-black-300 mt-3 border-[3px] border-black text-[18px] font-semibold text-black !important; */
  }

  .startup-form_btn {
    /* @apply bg-primary min-h-[70px] w-full rounded-full border-[4px] border-black p-5 text-[18px] font-bold !important; */
  }

  /* view */
  .view-container {
    @apply fixed right-3 bottom-3 mt-5 flex items-center justify-end;
  }

  .view-text {
    @apply bg-primary-100 rounded-lg px-4 py-2 text-[16px] font-medium capitalize;
  }

  .category-tag {
    @apply bg-primary-100 rounded-full px-4 py-2 text-[16px] font-medium;
  }
}

@utility pink-container {
  @apply bg-primary flex min-h-[530px] w-full flex-col items-center justify-center px-6 py-10;
  background-image: linear-gradient(
    to right,
    transparent var(--stripe-start, 49.5%),
    var(--stripe-color-light, rgba(251, 232, 67, 0.2)) var(--stripe-start, 49.5%),
    var(--stripe-color-dark, rgba(251, 232, 67, 0.6)) var(--stripe-end, 50.5%),
    transparent var(--stripe-end, 50.5%)
  );
  background-size: var(--stripe-width, 5%) 100%;
  background-position: center;
  background-repeat: repeat-x;
}

.w-md-editor-toolbar {
  padding: 10px !important;
}
